@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');

body{
    background: linear-gradient(blue, #48fd00);
    font-family: Honk;
}

h1{
    color: #ae00ff;
    font-size: 60px;
}
h2{
    color: #cf9f00;
    font-size: 55px;
}