@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');

body{
    background: linear-gradient(blue, #000000);
    font-family: Honk;
}

h1{
    color: #7600ad;
}
h2{
    color: #cf9f00;
}
