@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');

body{
    background: linear-gradient(blue, #000000);
    font-family: Honk;
}

h1{
    color: #ae00ff;
    font-size: 50px;
}
h2{
    color: #cf9f00;
}
h3{
    font-size: ;
}